<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1 style="text-align: center; font-weight: 275;">Internal server error</h1>

        <div style="text-align: center;
        font-size: 150px;
        color: var(--jaguar);
        font-family: 'Didact Gothic', Arial, sans-serif;
        font-style: normal;">
            <p>&#x1F631;</p>
        </div>

        <h2 style="text-align: center; font-weight: 275;">Sorry, there seems to be an error. Please try again soon.</h2>
    </body>
</html>